<html>

<head>
  <title>Squirrel Tracker</title>
  <center><font size=20><b>Squirrel Tracker Home Page</b></font></center>
 </head>

<body>
  <ul>
	<li><a href="/map">{{ maps }}</li>
	<li><a href="/sightings">{{ sightings }}</li>
	<li><a href="/add">{{ add }}</li>
	<li><a href="sightings/stats">{{ stats }}</li>
	<iframe width="876" height="493" src="https://www.youtube.com/embed/aDi8VWE4Cq8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ul>
</body>


